# data files
data/complaints-2019-05-16_13_17.csv
data/predicted_result_of_validation.csv

**/bak

.DS_Store

**/.ipynb_checkpoints
**/__pycache__
**/results
**/trained_models
**/figs
**/.idea

.idea/ComplaintsAnalysis.iml
.idea/misc.iml
